.footer {
  background-color: #1d1d1d;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.title {
  color: #fff;
}

.description {
  color: #fff;
}

.footerlink,
.footerlink:hover {
  color: #fff;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px; /* Set the fixed height of the footer here */
}
